{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "apps/purchase/**",
      "options": {
        "tailwindStylesheet": "./apps/purchase/src/app/globals.css",
        "tailwindFunctions": ["cn", "cva"]
      }
    }
  ]
}
